#footer {
    min-height: 50vh;
    background: #9fdccd;
    @include flex(center, column);

    ul {
        @include flex(center, row);  
    }

    .footer-nav {
        padding: 4rem 0 6rem 0;
    }

    a {
        padding: 0 2rem;
    }

}