#testimonials {
    min-height: 100vh;
    text-align: center;

    h5 {
        color: #808080;
        font-family: 'Fraunces', serif;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        padding-top: 10%;
    }

    .testimonials-content {
        @include flex(space-between, row);
        flex-wrap: wrap;
        padding: 10rem;

        .testimonial {
            padding: 4rem 1rem;
            flex: 1 1 30rem;

            img {
                border-radius: 50%;
            }

            p {
                padding: 4rem 0;
            }

            .testimonial-author {
                h4 {
                    padding-bottom: 1rem;
                }

                small {
                    font-size: 1.6rem;
                    color: #808080;
                }
            }
        }
    }
}

@media(max-width: 550px){
    #testimonials {
        .testimonials-content {
            padding: 2rem;
        }
    }
}